body {
  font-family: 'Jaldi', sans-serif;
  justify-content: space-evenly;
  background-color: #003249;
  height: 100%;
  width: 100%;
  margin: 0;
}

body, article, section, .widget, .left, .middle, .right, .bottom {
  display: flex;
}

section {
  justify-content: space-evenly;
}

h1, h2 {
  font-weight: 700;
  margin: 0;
  font-size: 2.5em;
}

h2 {
  font-size: 1em;
}

p {
  font-size: 0.75em;
  width: 150px;
  text-wrap: wrap;
  text-align: center;
}

img {
  height: 100px;
  width: 100px;
  padding-bottom: 5%;
}

.left, .middle, .right {
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 800px;
}

.bottom {
  width: 875px;
  height: 200px;
  justify-content: space-between;
}

.widget {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.square {
  height: 200px;
  width: 200px;
}

.bot, #welcomeMat {
  background-color: white;
}

#waterWeek {
  background-color: #F9FBB2;
}

#waterDay {
  background-color: #59C3C3;
}

#userData, #stepsWeek {
  background-color: #D9D9D9;
}

#stepsWeek, #welcomeMat {
  height: 200px;
  width: 875px;
}

#sleepWeek {
  background-color: #D1BCE3;
}

#sleepDay {
  background-color: #DBD56E;
}

#sleepLife {
  background-color: #8C2155;
  color: white;
}